{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>

        <!-- Connect bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">

        <!-- Connect the main stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        {% include 'base/navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto my-auto">
                    <br>
                    <div class="card card-body h-100 border-success" id='profile-wrapper'
                         onclick="window.open(window.location.href + '/michael', '_self')">
                        <img id='profile-pic' alt="Michael's profile picture"
                             src="{% static 'images/profiles/michael_profile1.png' %}">
                        <hr>
                        <h4>Hi I'm Michael!</h4>
                        <p>I love coding and learning about new things.</p>
                    </div>

                    <br>
                    <br>

                    <div class="card card-body h-100 border-info" id='profile-wrapper1'
                         onclick="open_user('huzefa');">
                        <img id='profile-pic1' alt="Huzefa's profile picture"
                             src="{% static 'images/profiles/huzefa_profile.jpeg' %}">
                        <hr>
                        <h4>Hi I'm Huzefa!</h4>
                        <p>3rd Year, Robotics & AI -
                            Aberystwyth university</p>
                        <hr>
                        <h4>Full stack developer</h4>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </body>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="{% static 'js/highlight_current.js' %}"></script>
    <script>
        function open_user(usr) {

        }

        const current_loc =
    </script>
</html>