{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Huzefa Syed</title>
        <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
    </head>
    <body>
        {% include 'base/navbar.html' %}
        <br>
        
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body h-100 border-info" id='profile-wrapper'>
                        <img id='profile-pic' alt="Huzefa's profile picture"
                             src="{% static 'images/profiles/huzefa_profile.jpeg' %}">
                        <hr>
                        <h4>Hi I'm Huzefa!</h4>
                        <p>3rd Year, Robotics & AI -
                            Aberystwyth university.</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body h-100 border-info">
                        <h4>My winding description</h4>
                        <hr>
        
                        <p>I'm intermediate and somewhat of an expert with most of the languages mentioned. I can ensure
                            high quality code that will suit my clients needs. I'm in my final year of university and I'm
                            on track for a 1st class.</p>
        
                        <p>I'm pretty advanced for my level and enjoy programming as past time and hobby. I am pretty
                            determined and once I pick up or start a project then I usually finish it unless I have an
                            emergency and I am dependent. I can ensure you that I will deliver quality code in good time.</p>
        
                        <p></p>
        
                        <ul class="social-links">
                            <li><a target="_blank" href="https://www.github.com/Zero069"><img
                                    class="social"
                                    src="{% static 'images/icons/github.png' %}"
                                    alt="github"></a>
                            </li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/huzefa-syed-71ab17178/"><img
                                    class="social"
                                    src="{% static 'images/icons/linkedin.png' %}"
                                    alt="linked in"></a>
                            </li>
                            <li><a target="_blank" href="https://www.upwork.com/freelancers/~01804618c2fee5ffb0"><img
                                    class="social"
                                    src="{% static 'images/icons/upwork.png' %}"
                                    alt="upwork"></a>
                            </li>

                            <!--divider-->
                            <li><a target="_blank" class="special" href="https://www.youtube.com/watch?v=3K3MMtoG8rY"><img
                                    class="social"
                                    src="{% static 'images/icons/blank.png' %}"
                                    alt="blank image"></a>
                            </li>
                            <!--divider-->

                            <li><a target="_blank" href="https://www.facebook.com/"><img
                                    class="social"
                                    src="{% static 'images/icons/facebook.png' %}"
                                    alt="facebook"></a>
                            </li>
                            <li><a target="_blank" href="https://www.twitter.com/"><img
                                    class="social"
                                    src="{% static 'images/icons/twitter.png' %}"
                                    alt="twitter"></a>
                            </li>
                            <li><a target="_blank" href="https://www.youtube.com/"><img
                                    class="social"
                                    src="{% static 'images/icons/youtube.png' %}"
                                    alt="youtube"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <br>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>My programming skill set</h4>
                        <hr>

                        <p>My skills include Java, Python, C++, JavaScript, HTML, CSS. These include web applications,
                            desktop applications, front end development, back end development, working with databases,
                            and full stack development in general</p>

                        <p>In python I am curently working on increasing my skills with Django web frameworks and with
                            databases In fact this very website is written with a Django web structure that I helped write
                            and develop. Also in python I am working with scrappy and have lots of experience with web
                            scraping and developing AI for different purposes</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>Current Projects</h4>
                        <hr>

                        <p>I am currently working on a server and front end connection that uses a web scraper that gets
                            data from a website about COVID 19 and display it on a map given a user's click. I am also
                            getting even more proficient with Python Django and databases for a web application.</p>

                        <p>I'm also working on progressing with my personal website and working on various freelancing
                            projects.</p>
                    </div>
                </div>
            </div>
        
            <br>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>How I learn</h4>
                        <hr>

                        <p>The way that I learn is through patience and a lot of determination. I read forums, follow
                            tutorials, create projects pertaining to the subject, and similar tactics. I takes time but
                            it pays off in the end because you get to do the things you love after you have covered the
                            basics.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>My experience as a developer</h4>
                        <hr>

                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</html>
