{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Michael Barbachov</title>
        <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
    </head>
    <body>
        <br>
        
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body h-100 border-success" id='profile-wrapper'>
                        <img id='profile-pic' alt="Michael's profile picture" src="{% static 'images/profiles/michael_profile1.png' %}">
                        <hr>
                        <h4>Hi I'm Michael!</h4>
                        <p>I love coding and learning about new things.</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body h-100 border-success">
                        <h4>My winding description</h4>
                        <hr>
        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </p>
        
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur.</p>
        
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                            id est laborum</p>
        
                        <ul class="social-links">
                            <li><a target="_blank" href="https://www.github.com/"><img class="social"
                                                                       src="{% static 'images/icons/github.png' %}"
                                                                       alt="github"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/"><img class="social"
                                                                         src="{% static 'images/icons/linkedin.png' %}"
                                                                         alt="linked in"></a></li>
                            <li><a target="_blank" href="https://www.upwork.com/"><img class="social"
                                                                       src="{% static 'images/icons/upwork.png' %}"
                                                                       alt="upwork"></a></li>

                            <li><a target="_blank" class="special" href="https://www.youtube.com/watch?v=KJl8eVWqnr8"><img
                                    class="social"
                                    src="{% static 'images/icons/blank.png' %}"
                                    alt="blank image"></a>
                            </li>

                            <li><a target="_blank" href="https://www.facebook.com/"><img class="social"
                                                                         src="{% static 'images/icons/facebook.png' %}"
                                                                         alt="facebook"></a></li>
                            <li><a target="_blank" href="https://www.twitter.com/"><img class="social"
                                                                        src="{% static 'images/icons/twitter.png' %}"
                                                                        alt="twitter"></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/"><img class="social"
                                                                        src="{% static 'images/icons/youtube.png' %}"
                                                                        alt="youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <br>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>My programming skill set</h4>
                        <hr>

                        <p>I have a pretty vast knowledge of a few languages. I know extensive Python, mediocre Javascript,
                            mediocre HTML, mediocre CSS, basic C++, and basic C#. In python I am just starting out with
                            Django and databases such as MySql, SQlite, and MongoDB. I have a pretty good knowledge with
                            Pygame, tkinter, Flask, OOP, and much more.</p>

                        <p>I can design web pages with javascript, AJAX, Jquery, and react and enjoy doing so. I am good
                            with responsive web design and I made a wide range of javascript projects.</p>

                        <p>As for my experience with C++ and C# is with olympiad programming and basic game dev in unity.
                            My game development experience isn't very extensive but I'm learning =).</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>Current Projects</h4>
                        <hr>

                        <p></p>
                    </div>
                </div>
            </div>
        
            <br>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>How I learn</h4>
                        <hr>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h4>My experience as a developer</h4>
                        <hr>

                        <p>I have done a bunch of small and medium project of no importance in my quest for knowledge. I
                        have a vast knowledge in a small range of subjects and I wish to keep expanding that skill set.
                        I am looking for work in freelance on different projects.</p>

                        <p>I have a bunch of small "games" that run on python and javascript. I have worked with databases,
                        backend (with Flask and Django), mathematical calculations (physics), front end, and much more.</p>

                        <p>I'm hoping that I can eventually gain more knowledge in Django and web development with Django!</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</html>
